$red: #b10f2e;

.wrapper {
  padding: 3rem 0;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 0 1rem 3rem 1rem;
}

.titleImage {
  margin-bottom: 2rem;
  flex-shrink: 0;
}

.titleQuote {
  font-size: 1.8rem;
  line-height: 1.3;

  position: relative;
  order: 1;
  color: rgba(0, 0, 0, 0.6);
  max-width: 800px;
  margin: 0;
  text-align: center;
}

.titleQuote::before {
  content: "\201c";
  display: block;
  font-family: "Times New Roman", serif;
  font-size: 5rem;
  margin-bottom: -3rem;
  color: $red;
}

.titleQuote::after {
  content: "- Some Famous Newspaper";
  display: block;
  margin-top: 1.5rem;

  font-size: 1.5rem;
  font-weight: lighter;

  color: rgba(29, 19, 31, 0.75);
}

.titleImage {
  flex-basis: 400px;
  order: 0;
}

/*  hero image and quote animations not triggered until 850px breakpoint */
@keyframes slideUp {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }

  5% {
    visibility: visible;
  }

  100% {
    transform: translateX(0);
    visibility: visible;
  }
}

.sectionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* use position relative so position sticky will work on .sectionImages */
  position: relative;

  background-color: #fbfbfb;

  padding: 2rem;
}

.aboutText {
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 300;
  flex-basis: 50%;
}

.sectionImages {
  /*
  display: flex;
  flex-direction: column;
  */

  border: 1px solid purple;

  /*
  flex-basis: 400px;
  margin-left: auto;
*/
}

/* the <ul> */
.imageList {
  display: flex;

  border: 1px solid red;
  display: none;
  padding: 0;
  list-style-type: none;

  position: relative; // so the li slides can slide
}

/* this is actually the <li> not the <img> */
.image {
  /*max-width: 400px;*/
  border: 2px solid black;
  padding: 1rem;
  background-color: white;
}

/* this is the image */
.aboutImage {
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 800px) {
  .wrapper {
    padding: 3rem 1rem;
  }

  .sectionTitle {
    padding: 0 0 3rem 0;
  }
  .sectionContent {
    flex-direction: row;
  }

  .sectionImages {
    // the sticky div, purple border
    display: flex;
    //flex-basis: 400px;
    margin-left: auto;

    position: sticky;
    top: 4rem;

    border: none;
  }

  .imageList {
    // <ul> => the slider, red border
    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;

    /* must use height/width of image. why not 100%?????? */
    height: 300px;
    width: 300px;

    border: none;
  }

  .image {
    // the <li>, black border
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .current {
    opacity: 1;
  }
}

@media (min-width: 850px) {
  .sectionTitle {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 100px;
  }

  .titleQuote {
    text-align: left;
    transform: translateY(40px);
    opacity: 0;
    animation: slideUp 2s ease-in-out forwards 0.5s,
      fadeIn 2s ease-in forwards 0.5s;
  }

  .titleImage {
    margin-bottom: 0;
    margin-right: 3rem;

    transform: translateX(-100%);
    visibility: hidden;
    animation: slideIn 1.5s forwards ease-out 0.5s;
  }
}

@media (min-width: 900px) {
  .wrapper {
    padding: 3rem 2rem;
  }

  .imageList {
    height: 350px;
    width: 350px;
  }
}

@media (min-width: 1000px) {
  .imageList {
    height: 400px;
    width: 400px;
  }
}
