.heroImageContainer {
  background-image: url("../assets/images/abstractArtBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* .heroTextContainer is not currently being used */
.heroTextContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8));
}

.heroText {
  margin: 0;
  padding: 50px 1rem;
  width: 100%;
  text-align: center;
  background: linear-gradient(to bottom, transparent, rgba(37, 17, 177, 0.4));
  color: white;

  font-family: "Dancing Script", cursive;
  font-size: 3.5rem;
  letter-spacing: 3px;
}

.creativitySpan {
  color: #b10f6f;
  font-size: 4.2rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.aboutSection {
  padding-bottom: calc(1.5rem + 19px);
}

/*======== About Embodied Creativity (the top section) ===========*/
.aboutCoachingWrapper {
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 1rem;
}

.titleHeader {
  margin-bottom: 1.4rem;
}

.titleHeader::after {
  content: "";
  display: block;

  width: 3.5rem;
  height: 4px;
  margin-top: 3px;
  background-color: #0d9951;
}

/* ==== the paragraph explaining embodied creativity ==== */
.aboutCoachingText {
  font-size: 1.2rem;
  line-height: 1.6;
  font-weight: 300;
}

.paypalButton {
  display: flex;
  justify-content: center;
  margin: 100px 1rem 50px;
}

@media (min-width: 900px) {
  .creativitySpan {
    opacity: 0;
    animation: fadeIn 2.5s ease-out 1s forwards;
  }
}
