.heroImageContainer {
  background-image: url("../assets/images/abstractArtBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* .heroTextContainer is not currently being used */
.heroTextContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background: linear-gradient(to top, transparent, rgba(37, 17, 177, 0.8));
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8));
}

.heroText {
  margin: 0;
  font-size: 3rem;
  padding: 50px 1rem;

  width: 100%;
  text-align: center;

  background: linear-gradient(to bottom, transparent, rgba(37, 17, 177, 0.4));

  color: white;

  /*color: #2511b1;*/
}

.creativitySpan {
  color: #b10f6f;

  opacity: 0;
  font-size: 3.5rem;
  animation: fadeIn 2.5s ease-out 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.aboutSection {
  padding-bottom: calc(1.5rem + 19px);
}

/*======== About Embodied Creativity (the top section) ===========*/
.aboutCoachingWrapper {
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 1rem;
}

.titleHeader {
  margin-bottom: 1.4rem;
}

.titleHeader::after {
  content: "";
  display: block;

  width: 3.5rem;
  height: 4px;
  margin-top: 3px;
  background-color: #0d9951;
}

/* ==== the paragraph explaining embodied creativity ==== */
.aboutCoachingText {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* ==================*/

.coachingSessionWrapper {
  /*
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 50px 65px;
*/

  max-width: 800px;
  margin: 0 auto;
  border: 1px solid purple;

  /*border: 4px double #bbb;*/
  margin-bottom: 2rem;

  /*
  display: flex;
  justify-content: center;
  align-items: center;
*/

  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-bottom: 30px;
}

/* the <ul> showing the list of prices */
.priceList {
  padding-left: 1rem;
}

.sessionBackground {
  height: 500px;
  width: 100%;
  max-width: 350px;
  position: relative;
}

.innerArtistBackground {
  background-color: #745be6;

  background-color: #b12554;
}

.professionalArtistBackground {
  background-color: #f7cc11;
}

.deeperConnectionsBackground {
  background-color: #0d9951;

  background-color: #2511b1;
}

.session {
  position: absolute;
  padding: 0.5rem;
  height: 500px;
  width: 100%;
  /*transform: translate(20px, 20px);*/
  line-height: 1.4;
  font-size: 1.2rem;

  transform: translateY(20px);
}

.innerArtistSession {
  background-color: #d5cdf8e1;

  background-color: rgba(251, 235, 240, 0.9);
}

.professionalSession {
  background-color: #f7f1d7cc;
}

.deeperConnectionsSession {
  background-color: #c0eed6d5;

  background-color: #e9e6fd;
  background-color: rgba(233, 230, 253, 0.85);
}

@media (min-width: 500px) {
  .coachingSessionWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 50px 0 65px;
  }

  .sessionBackground::before {
    content: attr(data-sessionType);
    position: absolute;
    top: 1.3rem;
    left: -2.5rem;
    width: max-content;
    /*border: 1px solid green;*/
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .session {
    transform: translate(20px, 20px);
  }

  /* this is the <h2> */
  .sessionType {
    display: none;
  }
}
