$pink: #b12554;
$lightPink: rgba(251, 235, 240, 0.9);
$yellow: #f7cc11;
$lightYellow: #f7f1d7cc;
$blue: #2511b1;
$lightBlue: rgba(233, 230, 253, 0.85);

.heroImageContainer {
  background-image: url("../assets/images/abstractArtBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* .heroTextContainer is not currently being used */
.heroTextContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  background: linear-gradient(to top, transparent, rgba(37, 17, 177, 0.8));
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8));
}

.heroText {
  margin: 0;
  font-size: 3rem;
  padding: 50px 1rem;

  width: 100%;
  text-align: center;

  background: linear-gradient(to bottom, transparent, rgba(37, 17, 177, 0.4));

  color: white;

  /*color: #2511b1;*/
}

.creativitySpan {
  color: #b10f6f;
  font-size: 3.5rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.aboutSection {
  padding-bottom: calc(1.5rem + 19px);
}

/*======== About Embodied Creativity (the top section) ===========*/
.aboutCoachingWrapper {
  max-width: 800px;
  margin: 1.5rem auto;
  padding: 1rem;
}

.titleHeader {
  margin-bottom: 1.4rem;
  font-size: 1.7rem;
}

.titleHeader::after {
  content: "";
  display: block;

  width: 3.5rem;
  height: 4px;
  margin-top: 3px;
  background-color: #0d9951;
}

/* ==== the paragraph explaining embodied creativity ==== */
.aboutCoachingText {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* ==================*/

.coachingSessionWrapper {
  /*width: 70vw;*/
  max-width: 1100px;

  margin: 0 auto;
  border: 1px solid purple;

  /*border: 4px double #bbb;*/
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-bottom: 30px;
}

/* the <ul> showing the list of prices */
.priceList {
  padding-left: 1rem;
}

/* the solid colored div */
.sessionBackground {
  height: 475px;
  width: 100%;
  max-width: 400px;
  position: relative;
  margin-bottom: 4rem;
}

.innerArtistBackground {
  background-color: $pink;
}

.professionalArtistBackground {
  background-color: $yellow;
}

.deeperConnectionsBackground {
  background-color: $blue;
}

/* the lighter colored div translated to the right and down */
.session {
  position: absolute;
  padding: 0.5rem;
  height: 475px;
  width: 100%;

  line-height: 1.4;
  font-size: 1.2rem;

  transform: translateY(20px);
}

.innerArtistSession {
  background-color: $lightPink;
}

.professionalSession {
  background-color: $lightYellow;
}

.deeperConnectionsSession {
  background-color: $lightBlue;
}

.testimonialsList {
  list-style-type: none;
  padding: 0 1rem;
  max-width: 550px;
  margin: 0 auto;
}

/* ==== the testimonials list ===== */

.testimonialsList li::after {
  content: "";
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 2px;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #cecece 50%,
    #cecece 50%,
    #ffffff 100%
  );
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.testimonialsList li:last-of-type::after {
  content: "";
  width: 0;
  height: 0;
  display: none;
}

.testimonialsList figure {
  margin: 0 0 2rem;
  margin-bottom: 0; // get rid of this after sorting out the pseudo element divider
  font-size: 1.2rem;
  line-height: 1.3;
  color: #222;
  text-align: center;
}

/* the person's name */
.testimonialsList figcaption {
  margin-top: 0.3rem;
  /*
  background-color: rgba(0, 0, 0, 0.03);
  */
}

@media (min-width: 500px) {
  .coachingSessionWrapper {
    padding: 50px 0 65px;
  }

  .sessionBackground {
    height: 400px;
  }

  .sessionBackground::before {
    content: attr(data-sessionType);
    position: absolute;
    top: 1.3rem;
    left: -2.6rem;
    width: max-content;
    transform: rotate(270deg) translateX(-100%);
    transform-origin: top left;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .session {
    transform: translate(20px, 20px);
    height: 400px;
  }

  /* this is the <h2> */
  .sessionType {
    display: none;
  }
}

@media (min-width: 600px) {
  .coachingSessionWrapper {
    width: 90vw;
    padding: 50px 1rem 65px;
  }
}

@media (min-width: 900px) {
  .creativitySpan {
    opacity: 0;
    animation: fadeIn 2.5s ease-out 1s forwards;
  }

  .coachingSessionWrapper {
    width: 95vw;
    max-width: 1100px;
    padding: 50px 2rem 65px;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .sessionBackground {
    margin-bottom: 0;
    flex-basis: 100%;
  }

  .testimonialsList {
    margin: 0;
    padding: 0;
    flex-basis: 30%;
  }
}

@media (min-width: 1100px) {
  .coachingSessionWrapper {
    justify-content: space-evenly;
    padding: 50px 0 65px;
  }
}
