.wrapper {
  /*border-top: 1px solid rgba(0, 0, 0, 0.1);*/
  padding: 1rem 1rem;

  background-color: #111111;

  background-image: url("../assets/images/contactPageBackgroundImage.png");
  background-repeat: repeat;
}

.formWrapper {
  max-width: 800px;
  margin: 0 auto;
  border-radius: 0.5rem;

  /* needed for the border-radius to work */
  overflow: hidden;
}

@media (min-width: 700px) {
  .wrapper {
    padding: 5rem 1rem;
  }
  .formWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
}
