$red: hsla(349, 84%, 38%, 1);

.section {
  position: relative;
}

.sectionContentWrapper {
  padding: 0 1rem;
}

// the <h1>
.sectionTitle {
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  padding-top: 1rem;
  margin-top: 0;
  font-size: 2rem;
  font-weight: normal;
}

.sectionTitle span {
  font-size: 1.7rem;
  display: inline-block;
  font-weight: bold;
  color: hsla(181, 24%, 26%, 1);
}

.introText {
  margin: 0 0 1.5rem;
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
}

.introText::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 38%;
  top: 0;
  left: 20%;
  height: 300px;
  transform: skewX(65deg);
  background-color: hsla(181, 24%, 36%, 0.15);
}

// give the introText <a> position and z-index properties, so it will sit on top of the introText pseudo element
.introText a {
  display: inline-block;
  text-decoration: underline;
  position: relative;
  z-index: 50;
  color: inherit;
  transition: all 0.3s ease;
}

.introText a:hover {
  color: $red;
  text-decoration: none;
}

/* 
  2 <a> elements have this class of .amazonButton, (styled to look like a button)
  the first links to amazon. the second is an internal link to the listen section on the same page
 */
.amazonButton {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 8px;
  border: 1px solid $red;
  font-size: inherit;
  transition: all 0.3s ease;
  margin-top: 0.5rem;
}

.amazonButton:first-of-type {
  margin-right: 0.5rem;
}

.amazonButton:hover {
  color: white;
  background-color: $red;
}

.studioLink {
  display: inline-block;
  text-decoration: underline;
  color: inherit;
  transition: all 0.3s ease;
}

.studioLink:hover {
  color: $red;
  text-decoration: none;
}

.listen {
  background-color: white;
}

.listenContentWrapper {
  background-color: white;
}

.iframeContainer {
  margin-bottom: 3rem;
}

.iframe {
  width: 100%;
  max-width: 560px;
  height: 315px;
}

.soundcloud {
  width: 100%;
  max-width: 560px;
  height: 166px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* ========== MEDIA QUERIES ========== */

@media (min-width: 700px) {
  .section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1rem;
    height: 100%;
    width: 5rem;
    background-color: hsla(181, 24%, 36%, 0.5);
  }

  .sectionTitle {
    font-size: 2.4rem;
  }
}

@media (min-width: 750px) {
  .amazonButton {
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .sectionContentWrapper {
    padding: 0 2rem;
  }

  .listen {
    display: grid;
    grid-template-columns: 800px 1fr;
    margin-top: 100px;

    /* gradient from gradientmagic.com */
    background-image: repeating-radial-gradient(
        circle at center center,
        transparent 0px,
        transparent 13px,
        rgba(0, 0, 0, 0.05) 13px,
        rgba(0, 0, 0, 0.05) 24px,
        transparent 24px,
        transparent 62px,
        rgba(0, 0, 0, 0.05) 62px,
        rgba(0, 0, 0, 0.05) 96px
      ),
      repeating-radial-gradient(
        circle at center center,
        rgb(255, 255, 255) 0px,
        rgb(255, 255, 255) 14px,
        rgb(255, 255, 255) 14px,
        rgb(255, 255, 255) 18px,
        rgb(255, 255, 255) 18px,
        rgb(255, 255, 255) 28px,
        rgb(255, 255, 255) 28px,
        rgb(255, 255, 255) 32px
      );
    background-size: 21px 21px;
  }
}
