$red: hsla(349, 84%, 38%, 1);

.section {
  position: relative;
  /*border: 1px solid orange;*/
}

.sectionContentWrapper {
  padding: 0 1rem;

  /*border: 1px solid blue;*/
}

// the <h1>
.sectionTitle {
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  padding-top: 1rem;
  margin-top: 0;
  font-size: 2rem;
  font-weight: normal;

  /*border: 1px solid red;*/
}

.sectionTitle span {
  font-size: 1.7rem;
  display: inline-block;
  font-weight: bold;
  color: hsla(181, 24%, 26%, 1);
}

.introText {
  margin: 0 0 1.5rem;
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.2rem;
  position: relative;
  overflow: hidden;
}

.introText::before {
  content: "";
  position: absolute;
  z-index: 10;
  width: 38%;
  top: 0;
  left: 20%;
  height: 300px;
  transform: skewX(65deg);
  background-color: hsla(181, 24%, 36%, 0.15);
}

// give the introText link position and z-index properties, so it will sit on top of the introText pseudo element
.introText a {
  display: inline-block;
  text-decoration: underline;
  position: relative;
  z-index: 50;
  color: inherit;
  transition: all 0.3s ease;
}

.introText a:hover {
  color: $red;
}

// this is actually an <a>, styled to look like a button
.amazonButton {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 8px;
  border: 1px solid $red;
  font-size: inherit;
  transition: all 0.3s ease;
  margin-top: 0.5rem;
}

.amazonButton:hover {
  color: white;
  background-color: $red;
}

/* ========== MEDIA QUERIES ========== */

@media (min-width: 600px) {
  .section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1rem;
    height: 100%;
    width: 5rem;
    background-color: hsla(181, 24%, 36%, 0.5);
  }

  .sectionTitle {
    font-size: 2.4rem;
  }
}

@media (min-width: 750px) {
  .amazonButton {
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .sectionContentWrapper {
    padding: 0 2rem;
  }
}
