.section {
  position: relative;
  /*border: 1px solid orange;*/
}

.sectionContentWrapper {
  padding: 0 1rem;
  /*border: 1px solid blue;*/
}

// the <h1>
.sectionTitle {
  /* text-align: right; */
  font-size: 2.5rem;
  letter-spacing: 1.2px;
  padding-top: 1rem;
  margin-top: 0;
  font-size: 3rem;

  font-weight: normal;

  /*border: 1px solid red;*/
}

.sectionTitle span {
  font-size: 1.7rem;
  display: inline-block;
  font-weight: bold;
  color: hsla(181, 24%, 26%, 1);
}

.aboutTextWrapper {
  max-width: 400px;
}
.introText {
  margin-top: 0;
  max-width: 600px;
  line-height: 1.5;
  font-size: 1.2rem;

  position: relative;

  overflow: hidden;
}

.introText::before {
  content: "";
  position: absolute;
  width: 38%;
  height: 200px;
  top: 0;
  left: 20%;
  height: 200px;
  transform: skewX(65deg);

  background-color: hsla(181, 24%, 36%, 0.15);
}

// this is actually an <a>
.amazonButton {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 0 6px;
  margin-bottom: 0.6rem;
  border: 1px solid hsla(349, 84%, 38%, 1);
  font-size: inherit;
  transition: all 0.3s ease;
}

.amazonButton:hover,
.amazonButton:focus {
  color: white;
  background-color: hsla(349, 84%, 38%, 1);
}

.albumDetails {
  flex-basis: 500px;
  flex-grow: 1;
  padding: 2rem;
  background-color: hsla(181, 24%, 26%, 0.075);
}

.piece {
  /* margin-right: 1.5rem; */
}

:is(.piece) p {
  margin-top: 0.4rem;
}

// <h2>
.pieceTitle {
  font-size: 1.4rem;
  margin: 0;
}

.albumWrapper img {
  width: 100%;
  max-width: 400px;

  transition: all 0.3s ease;
}
.albumWrapper:hover img {
  /*
  -webkit-filter: brightness(40%);
*/

  /* change this. only filter when hovering on the image */
}

@media (min-width: 600px) {
  .section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1rem;
    height: 100%;
    width: 5rem;

    background-color: hsla(181, 24%, 36%, 0.5);
  }
}

@media (min-width: 750px) {
  .newAlbumIntro {
    display: flex;
  }

  .albumDetails {
    border-left: 4px double hsla(181, 24%, 26%, 1);
    margin-left: 0.5rem;
  }
}

@media (min-width: 900px) {
  .sectionContentWrapper {
    padding: 0 2rem;
  }
}
