.wrapper {
  min-height: 60vh;
  padding: 1rem 1rem;
  font-size: 1.2rem;

  background-color: #fbfbfb;
  background-image: url("../assets/images/contactPageBackgroundImage.png");
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.signature {
  font-family: cursive;
  display: inline-block;
  margin-top: 1rem;
}

@media (min-width: 900px) {
  .wrapper {
    align-items: center;
  }
}
