$red: hsla(349, 84%, 38%, 1);

/* turn each album into a component? */
.albumWrapper {
  margin-bottom: 4rem;
  /*
  border: 1px solid purple;
  */
  border-left: 4px double hsla(181, 24%, 26%, 1);
  padding-left: 0.5rem;
}

.albumDetails {
  flex-basis: 500px;
  /*max-width: 500px;*/
  /*flex-grow: 1;*/
  padding: 2rem;
  background-color: hsla(181, 24%, 26%, 0.075);
  margin-top: 0.5rem;
}

// the <figure> element
.albumImageWrapper {
  margin: 0 0 1.5rem;

  display: flex;
  flex-direction: column;
}

.figcaption {
  max-width: 400px;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 0.8rem;
  margin-top: auto;
}

.studioLink {
  display: inline-block;
  text-decoration: underline;
  color: inherit;
  transition: all 0.3s ease;
}

.studioLink:hover {
  color: $red;
}

.albumImageWrapper img {
  width: 100%;
  max-width: 400px;

  transition: all 0.3s ease;
}
.albumImageWrapper img:hover {
  /*
  -webkit-filter: brightness(40%);
  */

  /* change this. only filter when hovering on the image */
}

/* ========== MEDIA QUERIES ========== */

@media (min-width: 750px) {
  .albumWrapper {
    display: flex;
    border-left: none;
    padding-left: 0;
  }

  .albumImageWrapper {
    margin: 0;
  }

  .albumDetails {
    border-top: none;
    margin-top: 0;
    border-left: 4px double hsla(181, 24%, 26%, 1);
    margin-left: 0.5rem;
    background: linear-gradient(to right, hsla(181, 24%, 26%, 0.075), #fff);
  }

  .amazonButton {
    margin-top: 0;
  }
}
