.wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.skipLink {
  position: absolute;
  transform: translateY(-100%);
  transition: 0.3s;

  &:focus {
    transform: translateY(0);
    position: static;
    display: inline-block;
    padding: 5px;

    font-size: 1.2rem;
    color: #333;
  }
}

.mainWrapper {
  flex: 1;

  /*  
    If .wrapper above is flex-direction column, AND this div has a max-widtth with margin 0 auto, the width will shrink to content size. To prevent that, you must use width 100%, with max-width / margin 0 auto.
  */
  width: 100%;
}
