$black: #222;
$red: #b10f2e;

.header {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

// the only difference is that the header on the homepage does not have a bottom border
.homePageHeader {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0;
  position: relative;
}

// Heidi Tsai, historical keyboardist
.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.logo:hover .title,
.logo:focus .title {
  color: $red;
}

// Heidi Tsai
.title {
  font-size: 1.3rem;

  margin-bottom: 0.2rem;
  color: $black;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 900;
  transition: color 0.2s ease-in;
}

// historical keyboardist
.subtitle {
  font-family: "Dancing Script", cursive;

  font-size: 1.5rem;
  letter-spacing: 2px;
  color: $black;

  transition: color 0.2s ease-in;
}

/* ========= Navigation ========= */
.headerNav {
  position: absolute;
  z-index: 100;
  top: 100%;
  width: 100%;
  right: 0;

  background-color: white;
  visibility: hidden;
  transform: scaleY(0);
  transform-origin: top right;
  transition: transform 0.4s ease-in-out;
}

.headerNavShowing {
  visibility: visible;
  display: flex;
  flex-direction: column;
  transform: scaleY(1);
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link {
  display: block;
  font-size: 1.05rem;
  text-decoration: none;
  color: $black;
  padding: 1rem 1rem;

  opacity: 0;
  transition: opacity 150ms ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.link:hover,
.link:focus {
  color: white;
  background-color: $red;
}

/* when the menu button is clicked, fade in the nav links */
.linksShowing {
  opacity: 1;
  transition: opacity 0.3s ease-in-out 0.3s;
}

.menuButton {
  background-color: white;
  border: none;
  padding: 0;
  width: 30px;
  height: 30px;
}

.menuButton:hover {
  cursor: pointer;
}

/* this span and it's pseudo elements make the hamburger icon */
.menuIcon {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 3px;
  background-color: $black;
}

.menuIcon::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $black;
}

.menuIcon::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $black;
}

@media screen and (min-width: 900px) {
  .menuButton,
  .menuIcon {
    display: none;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  .headerNav {
    visibility: visible;
    position: static;
    transform: scaleY(1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
  }

  .navList {
    display: flex;
    flex-wrap: wrap;
  }

  .navItem + .navItem {
    margin-left: 1.5rem;
  }

  .link {
    padding: 10px 10px 4px;
    position: relative;
    transition: all 0.4s ease-in-out;
    opacity: 1;
  }

  .link:hover,
  .link:focus {
    color: black;
    background-color: white;
  }

  .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.25px;

    background-color: $red;

    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .link:hover::after,
  .link:focus::after {
    transform: scaleX(1);
  }
}
