$black: #333;
$red: #b10f2e;

.header {
  /* positioning works but not z-index. content is flowing over the top */
  /*
  position: sticky;
  top: 0;
  z-index: 100;
*/
  padding: 2rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* the only difference is that the header on the homepage does not have a bottom border */
.homePageHeader {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0;
}

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* get rid of this becaus you should not need it */
  flex-wrap: wrap;

  /* mobile  first*/
  display: none;
}

.logo {
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: black;
}

.logo:hover .title,
.logo:focus .title {
  color: $red;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.3rem;

  color: $black;

  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  transition: color 0.2s ease-in;
}

.subtitle {
  font-size: 1.4rem;
  color: $black;
  transition: color 0.2s ease-in;
}

.navList {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.navItem {
  border-bottom: 0;
}

.navItem + .navItem {
  margin-left: 1.5rem;
}

.link {
  display: block;
  font-size: 1.2rem;
  text-decoration: none;

  color: black;
  padding: 10px 10px 4px;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.25px;

  background-color: $red;

  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}

.navToggle:checked ~ .headerNav {
  display: flex;
}

@media screen and (min-width: 900px) {
  .header {
    padding: 1.5rem 2rem;
  }

  .navToggle {
    display: none;
  }

  .headerNav {
    display: flex;
  }
}
