$red: #b10f2e;

.wrapper {
  padding: 5rem 1rem;
  background-color: #111;

  color: white;
  position: relative;
}

.footerNav {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
}

// the <ul>
.footerNavRight,
.footerNavLeft {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.link {
  color: #fbfbfb;
  display: block;
  text-decoration: none;
  padding: 10px 10px 4px;
  font-size: 1.05rem;
  margin-bottom: 0.7rem;
}

.link::after {
  display: block;
  content: "";
  position: relative;
  bottom: -5px;
  height: 2px;
  background-color: #fbfbfb;
  opacity: 0.85;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::after,
.link:focus::after {
  transform: scaleX(1);
}

.copyright {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  position: relative;
  top: 3rem;
}

/* ===== social media icons ===== */
.socialMediaIconsWrapper {
  display: flex;
  justify-content: space-around;
  order: 1;
  padding: 1.75rem 0;
}

.socialMediaLink {
  display: inline-block;
  color: white;
  font-size: 2rem;
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

.socialMediaLink:hover,
.socialMediaLink:focus {
  transform: translateY(-0.2rem);
}

.facebook,
.instagram,
.soundcloud,
.youtube {
  width: 100%;
  height: 100%;
  padding: 5px 0;
  border-radius: 5px;
}

.soundcloud {
  padding: 0 5px;
}

.facebook {
  background-color: #1775eb;
}

.instagram {
  background: linear-gradient(225deg, #c20097, #fdbb1e);
}

.soundcloud {
  background-color: #ff7700;
}

.youtube {
  background-color: #e62117;
}

@media (min-width: 550px) {
  .footerNav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  // the <ul>
  .footerNavRight,
  .footerNavLeft {
    display: block;
  }

  .socialMediaIconsWrapper {
    order: 0;
  }

  .socialMediaLink + .socialMediaLink {
    margin-left: 1rem;
  }
}

@media (min-width: 600px) {
  .socialMediaLink + .socialMediaLink {
    margin-left: 2rem;
  }
}
