$purple: #1d131f;

.wrapper {
  padding: 5rem 1rem;

  background-color: $purple;

  color: white;
  position: relative;
}

.footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 750px;
  margin: 0 auto;
}

.footerNavRight,
.footerNavLeft {
  list-style-type: none;
  padding: 0;
}

.navItem {
}

.link {
  color: #fbfbfb;
  display: block;
  text-decoration: none;
  /*border: 1px solid orange;*/
  padding: 10px;
  font-size: 1.1rem;
}

.copyright {
  color: rgba(255, 255, 255, 0.6);

  display: flex;
  justify-content: center;
  position: relative;
  top: 3rem;
}
