$purple: #1d131f;
$red: #b10f2e;

.wrapper {
  padding: 5rem 1rem;

  background-color: $purple;
  background-color: #111;

  color: white;
  position: relative;
}

.footerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 750px;
  margin: 0 auto;
}

.footerNavRight,
.footerNavLeft {
  list-style-type: none;
  padding: 0;
}

.navItem {
}

.link {
  color: #fbfbfb;
  display: block;
  text-decoration: none;

  padding: 10px 10px 4px;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.link::after {
  display: block;
  content: "";
  position: relative;
  bottom: -5px;

  height: 2px;

  background-color: $red;
  opacity: 0.85;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::after {
  transform: scaleX(1);
}

.copyright {
  color: rgba(255, 255, 255, 0.6);

  display: flex;
  justify-content: center;
  position: relative;
  top: 3rem;
}
